.container {
    padding: 10px 15px;
    margin: 5px auto;
    max-width: 50%;
}
h1 {
    text-align: center;
}
.user_input {
    padding: 10px 5px;
    margin-bottom: 15px;
    width: 100%;
}
ul {
    list-style-type: none;
}
.list {
    text-align: center;
    padding: 15px 8%;
    margin: 5px auto;
}
.update_list {
    text-align: left;
    padding: 15px 8%;
    margin: 5px auto;
}
.update_list input {
    padding: 6px 5px;
    margin-right: 6px;
}
.tick {
    float: left;
    margin-right: 10%;
}
.text {
    text-align: left;
    float: left;
    width: 65%;
}
.edit, .delete, .update {
    margin-right: 1%;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
}
.edit {
    background-color: blue;
}
.delete {
    background-color: red;
}
.update {
    background-color: orange;
    color: black;
}

@media only screen and (max-width: 1450px) {
    .container {
        max-width: 70%;
    }
}
@media only screen and (max-width: 1055px) {
    .container {
        max-width: 80%;
    }
}
@media only screen and (max-width: 912px) {
    .container {
        max-width: 90%;
    }
}
@media only screen and (max-width: 812px) {
    .container {
        max-width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .list, .update_list {
        padding: 10px 2px;
        margin: 5px 2px;
    }
    .text {
        width: 30%;
    }
    ul {
        padding-inline-start: 2px !important;
    }
}
@media only screen and (max-width: 282px) {
    .text {
        float: none;
        width: 80%;
    }
    .edit, .delete, .update {
        width: 100%;
    }
}
.done {
    text-decoration: line-through;
}
